<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.clockbone.mapper.UserMapper">
    <resultMap id="userResult" type="User">
       <result property="userName" column="userName"></result>
       <result property="passWord" column="userPassword"></result>
       <result property="roles" column="userPassword"></result>
    </resultMap>

    <select id="getUserByName" resultType="User" parameterType="java.lang.String">
        select
        userId,
		userName,
		(select r.name from role r where id in (SELECT ur.role_id FROM user_role ur
		WHERE ur.user_id=userId)) roleName
		from user where userName=#{userName}
    </select>

</mapper>