<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/security
        http://www.springframework.org/schema/security/spring-security.xsd">
    <!--安全权限管理-->


    <!-- security="none" 设置不拦截的页面,比如静态资源页面-->
    <http pattern="/favicon.ico" security="none" />
    <http pattern="/resources/**" security="none" />

    <!--  <http pattern="/user/**" security="none" />-->



    <!--配置拦截页面-->
    <!--启用页面级权限控制使用表达式-->
    <http use-expressions="false">
        <!--权限不够 拒绝页面-->
        <access-denied-handler error-page="/user/denied"/>

        <!--登录的url（以/user/**）不校验权限 设置：access="IS_AUTHENTICATED_ANONYMOUSLY"-->
        <intercept-url pattern="/user/**" access="IS_AUTHENTICATED_ANONYMOUSLY"/>
        <!--设置user/**的登录页不需要 拦截-->
        <!-- <intercept-url pattern="/user/**" access="permitAll"/>-->
        <!--其它页面访问需要(/**)，需要  access="ROLE_USER" -->
        <intercept-url pattern="/index" access="ROLE_ADMIN" />
        <intercept-url pattern="/**" access="ROLE_USER" />

        <!--<intercept-url pattern="/**" access="isAuthenticated()" />-->
        <!--不符合权限跳转到，设置默认登录页；认证失败跳转到 authentication-failure-url="/user/login?error=true"-->
        <!--校验登录的 url ，authentication-manager 会拦截此表单提交到的页面，获取用户的登录名，根据登录名查库，来校验用户是否存在且拥有相应的权限-->
        <!--default-target-url:设置登录成功后 跳转的页面，如果不设置，默认跳转到: /  配置的页面-->
        <form-login login-page="/user/login" authentication-failure-url="/user/login?login=false" default-target-url="/common"/>

        <!--退出配置，默认 url:/logout ,退出成功后默认跳转到 登录页面-->
        <logout />
        <csrf disabled="true" />
    </http>

    <!--第一种：这是一种密码不加的配置方式-->
    <!--<authentication-manager>
        &lt;!&ndash;权限控制类，权限校验通过 给用户添加相应权限&ndash;&gt;
        &lt;!&ndash;此校验拦截的是 login-page="/user/login" 请正确理解！！！&ndash;&gt;
        <authentication-provider user-service-ref='userDetailsService' />
    </authentication-manager>

    <beans:bean id="userDetailsService" class="com.clockbone.security.UserDetailsServiceImpl" />-->

    <!--第二种：添加密码md5加密方式-->
    <authentication-manager>
        <!--权限控制类，权限校验通过 给用户添加相应权限-->
        <!--此校验拦截的是 login-page="/user/login" 请正确理解！！！-->
        <authentication-provider ref='daoAuthenticationProvider'  />
    </authentication-manager>

    <beans:bean id="daoAuthenticationProvider"
                class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
        <beans:property name="userDetailsService" ref="userDetailsService" />
        <beans:property name="passwordEncoder" ref="passwordEncoderService" />

        <!-- 明文加密，不使用任何加密算法, 在不指定该配置的情况下，Acegi默认采用的就是明文加密 -->
        <!-- <property name="passwordEncoder"> <bean class="org.acegisecurity.providers.encoding.PlaintextPasswordEncoder">
            <property name="ignorePasswordCase" value="true"></property> </bean> </property> -->
    </beans:bean>

    <beans:bean id="userDetailsService" class="com.clockbone.security.UserDetailsServiceImpl" />
    <beans:bean id="passwordEncoderService" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />



</beans:beans>